@import url('https://fonts.googleapis.com/css?family=Nunito|Quicksand');

.App {
  width: 100%;
  text-align: center;
}

html, body, #root, .App {
  height: 100%;
  width: 100%;
}

body{
  font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
}

.initiallyHidden { 
  display: none;
}

#noPeriod, #noClass {
  color: #B33A3A;
  font-weight: bold;
}

#mainDiv {
  width: 100%;
}